 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
	display: inline-block;
	border:1px solid black;
	width: 400px;
}
.right{
	height: 550px;
	vertical-align: top;
	border: none;
}
.emoji{
	width: 100px;
	height: 100px;
}
.timer{
	width: 250px;
	height: 100px;
}
.textBox{
	width: 400px;
	height: 200px;
	border:1px solid black;
	font-size: 20px;
}
.storyBox{
	height: 	500px;
}
